@import "variables";
.home {
  &-container {
    position: relative;
    display: flex;
    padding: 112px 16px;
    row-gap: 40px;
  }
  &-content {
    position: relative;
    display: grid;
    justify-self: center;
  }
  &-img {
    width: 220px;
  }
  &-title {
    position: absolute;
    display: flex;
    color: $first-color;
    font-size: $biggest-font-size;
    column-gap: 7px;
    top: -65px;
    justify-self: center;
    span:nth-child(2) {
      z-index: -1;
    }
  }
  &-tooltip {
    position: absolute;
    top: -8px;
    right: 24px;
    &-img {
      width: 60px;
    }
    &-text {
      position: absolute;
      color: $white-color;
      background: $gradient-color;
      padding: 6px 12px;
      transform: translate(60px, -40px);
      font-size: $small-font-size;
      font-weight: $font-semi-bold;
      border-radius: 64px;
    }
  }
  &-social {
    display: grid;
    justify-content: center;
    row-gap: 96px;
    position: absolute;
    top: 140px;
    left: -24px;
    &-text {
      rotate: 90deg;
      position: relative;
      font-size: $small-font-size;
      font-weight: $font-semi-bold;
      &::after {
        content: "";
        background-color: $text-color;
        width: 48px;
        height: 1px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -64px;
        margin: auto;
      }
    }
    &-links {
      display: grid;
      row-gap: 12px;
      margin-left: 22px;
      a {
        color: $text-color;
        font-size: 20px;
        transition: all 0.4s;
        &:hover {
          color: $first-color;
        }
      }
    }
  }
  &-button {
    justify-self: center;
  }
}
